  
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ddd;
}
  
  /*header css start*/

  header{
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    animation: square;
    animation-duration: 5s;
    border-radius: 5px;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes square{
    0%{background-color: tomato;}
    25%{background-color:orange;}
    50%{background-color:chartreuse;}
    75%{background-color:blue;
    border-radius: 50px;}
    100%{background-color: gold;}
}
.logo:hover{
    background-color:green;
    border-radius: 10px;
    transition: all ease-in 0.5s;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    background-color: #262626;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.navbar ul li:hover{
    background-color: crimson;
    transition: all ease-in 0.5s;
}
.navbar ul ul{
    display: none;
}
.navbar ul li:hover> ul{
    display: block;
}

/*header close  */


/* form start */

.form1{
    background-color: crimson;
    color: white;
    text-align: center;
    font-size: 35px;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    padding: 30px 80px;
    
    /*margin-top: 30px;*/
    border-radius: 5%;
    box-shadow: 0.4px 8px 0 rgb(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.form1 input{
    padding: 5px 50px;
    border-color: crimson;
    border-radius: 50px;
}
.form1 .btn{
    font-weight: bold;

}
.form1 .btn:hover{
    background-color:green;
    transition: 2s;
}

/* Form Close  */



.box{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border: 15px solid tomato; 
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    animation: box 2s infinite forwards;
    animation-delay: 2s;
}
@keyframes box{
    0%{border: red;transform: scale(1); }
    25%{border-color: orange;transform: scale(1.1);}
    50%{border-color: lime; transform: scale(1.2);}
    75%{border-color: navy;transform: scale(1.3);}
    100%{border-color: green;transform: scale(1.4);}
}

.circle{
    width: 200px;
    height: 200px;
    border: 5px dotted black;
    animation: circle 2s infinite alternate;
    justify-content: center;
    align-items: center;
    display: flex;
    animation-delay: 4s;

    
}
@keyframes circle{
    0%{transform: rotate(0deg);border-width: 10px;}
    25%{border-color: aqua; border-width: 20px ;}
    50%{border-color: rgb(226,149,77); border-width: 30px ;}
    75%{border-color: rgb(114,238,42); border-width: 40px ;}
    100%{transform: rotate(360deg) ;}
}

.text{
    width: 50px;
    height: 50px;
    background-color: crimson;
    border: 15px double  green ;
    animation: text 2s alternate infinite;
    align-items: center;
    justify-content: center;
    display: flex;
    animation-delay: 6s;
 
}

@keyframes text{
    0%{border-color: red; transform: scale(1);}
    25%{background-color: green;transform: scale(1.2);}
    50%{background-color:blue;border-radius: 50px; transform: scale(1.3);}
    75%{border-radius: 0px; transform: scale(1.4);}
    100%{transform: rotate(170deg);}
}

.hed{
    width: 30px;
    height: 30px;
    border: 5px dotted gold;
    animation: hed 2s alternate infinite;
    justify-content: center;
    align-items: center;
    display: flex;
    animation-delay: 8s;
}

@keyframes hed{
    0%{background-color: white ;transform: scale(1);}
    25%{border-color: lime; transform: scale(1.2);}
    50%{border-radius: 2px;transform: scale(1.3);}
    75%{background-color: tomato;transform: scale(1.4);}
    100%{background-color: green;transform: rotate(242deg);}
}

.last{
    width: 10px;
    height: 10px;
    background-color: gold;
    border: 5px double black;
    animation: last 5s alternate infinite;
    animation-delay: 10s;
}

@keyframes last{
    0%{background-color:tomato;transform: scale(1);}
    25%{background-color: green;transform: scale(1.2);}
    50%{background-color: blue;transform: scale(1.3);}
    75%{background-color: red;transform: scale(1.4);}
    100%{background-color: orange;transform: rotate(360deg);}
    125%{transform: rotate(360deg);}
}



.test{
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-color: tomato;
    border-radius: 50px;
    position: relative;
   /* animation: square;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-play-state: running;*/
    animation: square 4s linear 2s infinite alternate backwards running;
}
  @keyframes square{
    0%{background-color:tomato;
    left: 0;
    right: 0;
    }
    25%{background-color:green;
    left: 500px;
    right: 0px;
    }
    50%{background-color:blue;
    left: 500px;
    right: 500px; border-radius: 50%;
    }
    75%{background-color:red;
    left: 0px;
    right: 500px;
    }
    100%{background-color:orange ;
    left: 0px;
    right: 0px; border-radius: 0px;
    }
}

/*footer start */
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color:rgb(29,27,27);
    width: 100%;
    color: white;
    height: 30%;
}
.name h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.text p{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -30px;
    border-radius: 10px;
    
}
.text p:hover{
    background-color:rgb(0, 0, 0);

}

.icon i{
    font-size: 40px;
    position: relative;
    top: 2px;
    padding: 5px;
    background-color: black;
}

.icon i:hover{
    background-color:#ddd;
}


.copy{
    height: 50px;
    width: 100%;
    background-color: black;
    font-size: 25px;
    line-height: 50px;  
}

/* footer close */
